{% extends "base_templates/base.html" %}

{% block header %}
  <h1>{% block title %}Report{% endblock %}</h1>
{% endblock %}
{% block marketing %} This is where you can find a detailed report about all the products registered on the system. {% endblock %}
{% block content %}
        <div class="mx-2">
          <div class="row" >
            <div class="jumbotron  shadow-sm p-3 mb-5 bg-white rounded " >
            <table class="table table-striped scroll">
                <thead>
                  <tr>
                    <th class="center" scope="col"></th>
                   
                    {% for location in locations %}
                    <th class="center" scope="col">{{location['name']}}</th>
                    
                    {% endfor %}
                    
                  </tr>

                  

                </thead>
                <tbody>
                  

                {% if products %}
                {% for product in products %}
                  <tr>
                    <td>{{ product['title'] }}</td>
                    {% for location in locations %}
                    <td class="center" >{{ locationqty[location['name']][product['title']] }}</td>
                    {%endfor%}
                    
                  </tr>
                  {% endfor %}
                {% else %}
                <td colspan="3" style="text-align: center; background-color: beige;" >There are No data to display</td>
                {% endif %}
                 
                </tbody>
              </table>
              </div>
          </div>
        </div>       
{% endblock content %} 
